{% extends "base.html" %}
{% block content %}

<div class="container py-5">
    <div class="row d-flex flex-column align-items-center">
        <div class="col-md-6">

<form action="/signin" method="POST"> 
    {% csrf_token %}
    <h2 class="text-center">--User Login Form--</h2>
    <label for="id_name">Name:</label>
    <input type="text" name="username" class="form-control my-4" maxlength="50" required="" id="id_name" placeholder="Enter Username">
<!-- <label for="id_email">Email:</label>
<input type="email" name="email" class="form-control" maxlength="50" required="" id="id_email"> -->
<label for="id_password">Password:</label>
<input type="password" name="password" class="form-control my-4" maxlength="50" required="" id="id_password" placeholder="Enter Password">
<input type="submit" value="SUBMIT FORM" class="btn btn-block btn-dark mt-3 ">

<!-- <input type="submit" value="Dont have Account?"  class="btn btn-white text-primary text-decoration-underline mt-1 "> -->
<a href="signup" style="text-decoration: underline;" class="btn btn-white text-primary ">Dont have an Acoount?</a>
</form>
</div>
</div>
</div>
{% endblock %}