{% extends "base.html" %}
{% block content %}

<div class="container py-5">
    <div class="row d-flex flex-column align-items-center">
        <div class="col-md-6">
<h2 class="text-center">--User Sign Up Form--</h2>

            <form action="" method="post"> 
                {% csrf_token %} 
                {{ userForm1 }}
            <input type="submit" value="SUBMIT FORM" class="btn btn-block btn-dark mt-1 ">
<a href="signin" style="text-decoration: underline;" class="btn btn-white text-primary ">Already have Acoount?</a>

            </form> 
        </div>
    </div>
    <script>
        let place1 = document.getElementById("id_password1");
         place1.placeholder = "Enter password";
         let place2 = document.getElementById("id_password2");
         place2.placeholder = "Confirm password";

         document.getElementById("id_password1").classList.add("form-control");
      document.getElementById("id_password2").classList.add("form-control");
     </script>
  
</div>

{% endblock %}
